body {
    background: #333333 url(/images/page-bg.jpg);
    margin: 0px;    
}

ul{margin:0px; padding:0px;}
a {text-decoration:none; color:#6a6969;}
a:hover {color:#979797;}
a img{border:0px;}

#sitecontainer{
	width:100%;
	margin:0px auto 200px auto;
	background:url(/images/body-bg.png);
	overflow:auto;
	padding-bottom:100px;
}

.head1 {
    font: 400 58px/60px 'Bree Serif', Georgia, serif;
    color: #6a6969;
}

.head2 {
    font: 400 18px/22px 'Bree Serif', Georgia, serif;
    color: #6a6969;
}

.head3 {
    font: 400 14px/16px 'Bree Serif', Georgia, serif;
    color: #6a6969;
}
.head4 {
    font: 400 10px/12px 'Bree Serif', Georgia, serif;
    color: #6a6969;
}

.generaltext {
    font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
    color: #6a6969;
}

/****************************************************/
/* HEADER */
/****************************************************/

#header{	
	background-color:#222222;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}
#header #logo{
	padding-top:40px;
	float:left;
}
#header #main-menu{float:right; padding-top:45px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}

/****************************************************/
/* ABOUT SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:115px;}
#about h1{float:left;}
#top-social{float:right;}
#top-social li{float:left; list-style:none; margin-left:10px;}

#about #top-social .icons {        
        width: 31px;
         height: 24px;
        color: #6a6969;
}

#about .content{overflow:auto;}
#about .content img{float:left; margin-right:40px; border:5px solid #222222;}
#about .content #service-icons{margin-top:20px;}
#about .content #service-icons li{
	display:block;
	width:108px;
	height:108px;
	text-indent:-9999px;
	list-style:none;
	float:left;
	margin-right:20px;
}
#about .content #service-icons li.services-design{background:url(/images/icon-1.png) no-repeat;}
#about .content #service-icons li.services-mobile{background:url(/images/icon-2.png) no-repeat;}
#about .content #service-icons li.services-film{background:url(/images/icon-3.png) no-repeat;}
#about .content #service-icons li.services-photo{background:url(/images/icon-4.png) no-repeat;}

/****************************************************/
/* EXPERIENCE SECTION */
/****************************************************/

#experience{margin:0px 43px; padding-top:115px;}
#experience .col{
	width:235px;
	float:left;
}
#experience .content{overflow:auto;}
#experience .col-mid{margin:0px 65px;}

/****************************************************/
/* WORK SECTION */
/****************************************************/

#work{margin:0px 43px; padding-top:115px;}
#work .content{overflow:auto;}
#work #work-thumbs li{
	list-style:none;
	float:left;
	margin:0px 20px 15px 0px;
	padding:0px;
}
#work #work-thumbs li.last{margin:0px;}

/****************************************************/
/* CONNECT SECTION */
/****************************************************/
#connect{margin:0px 43px; padding-top:115px;}
#connect .content{overflow:auto;}
#connect #form{
	width:410px;
	float:left;
}
#connect #form span{
	display:block;
	float:left;
	width:100px;
	padding-top:5px;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}
#connect #form input{
	float:left;
	width:255px;
	border:0px;
	color:#3b3b3b;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	margin-bottom:10px;
}
#connect #form textarea{
	float:left;
	border:0px;
	width:255px;
	height:100px;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#3b3b3b;
}

#connect #form input.name{background:#222222 url(/images/icon-user.png) no-repeat 10px 8px;}
#connect #form input.email{background:#222222 url(/images/icon-mail.png) no-repeat 10px 9px;}
#connect #form textarea.message{background:#222222 url(/images/icon-message.png) no-repeat 10px 8px;}
#connect #form input.submit{ 
	width:75px;   
	height:30px;
	float:right;
	padding:0px 0px 5px 0px;
	margin:10px 16px 0px 0px;
	background:#222222;
	color:#3b3b3b;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}

#footer #bottom-social {
    float: left;
    padding-top: 15px;
}
    #footer #bottom-social li {
        float: left;
        list-style: none;
        margin-left: 10px;
    }
    #footer #bottom-social .icons {
        display: block;
        width: 31px;
        height: 24px;
        color: #6a6969;
    }
/****************************************************/
/* MISC */
/****************************************************/
.top-divider, .bottom-divider{
	width:100%;
	height:9px;
	background:url(/images/divider.png) repeat-x;
	clear:both;
}
.top-divider{margin-bottom:40px;}
.bottom-divider{margin-top:40px;}

#work .single_content {
    margin-top: 30px;
    transition: all .6s;
}


#work .single_content .single_img img {        
        height: 50%;
        transition: 0.6s;
    }
.image {
    opacity: 1;
    display: block;
    width: 90%;    
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.aboutphoto {
    width:20%;
    height:20%;
}


#work .single_content .single_img {
        position: relative;
    }

#work .single_content:hover .single_img img {
        transform: scale(1.05);
    }


#work .single_content:hover .single_text_overlay {
        opacity: 1;
    }
#work .single_content .single_text_overlay {
        background: rgba(255, 114, 0, 0.75);
        padding: 10px 20px;
        width: 45%;
        opacity: 0;
        transition: all 0.6s;
    }
#work .single_content .single_text_overlay h4 {
        margin-bottom: .0rem;
        display: inline-block;
    }

.workSec {
    position: relative;
    
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.workSec:hover .image {
    opacity: 0.3;
}

.workSec:hover .middle {
    opacity: 1;
}

.text {
    background: rgba(106, 105, 105, 0.7);
    color: #fff;    
    font-size: 12px;
    padding: 16px 32px;
}
.text a {
    color: #fff;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
  .tags li {
    float: left;
    margin:5px;
    list-style-type: none;
    border: 2px solid #e6e6e6;     
    padding: 0.5rem;
  }